@font-face {
    font-family: 'Peace Sans';
    src: url('PeaceSans.woff2') format('woff2'),
        url('PeaceSans.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

